.App {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vw;
}

.Stats {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  display: flex;
  color: black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 22px;
  align-items: flex-start;
  margin-top: 150px;
  margin-left: 20px;
  width: 100vw;
}

.navbar {
  top: 0px;
  position: absolute;
  width: 100vw;
  text-align: center;
  background: linear-gradient(to right, rgb(38, 216, 157), rgb(49, 191, 204));
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  margin-left: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
