.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
}

.img {
  width: 20vw;
}

.link {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.desc {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}

.post:hover {
  background-color: rgba(212, 212, 212, 0.5);
}
